
<span>
<svg id="bold-side" width="500" height="600">
  <rect height="500" width="500" style="fill:rgb(255,255,255);;stroke:rgb(0,0,0)"></rect>
   <rect id="inner-bold" height="300" width="400" style="fill:rgb(254, 254, 255);stroke:rgb(0,0,0)"></rect>
  <image id="bold-logo" src="./assets/images/boldLogo.png"/>
</svg>
<button>export</button>
<button>tranform</button>
<svg id="genesys-side" width="500" height="600">
    <rect width="500" height="500" style="fill:rgb(254, 254, 255);stroke:rgb(0,0,0)" />
    <rect id="inner-genesys" height="300" width="400" style="fill:rgb(254, 254, 255);stroke:rgb(0,0,0)"></rect>
    <image id="genesys-logo" src="./assets/images/genesysLogo.png"/>
  </svg>
  <button>import</button>
</span>
