<div class="parent">
<div class="container">
  <img class="boldLogo" src="../../assets/images/boldLogo.png"/>
  <p class="boldText">Please select the canned messages you want to import to Genesys DX.</p>
  <div class="child"> 
  </div>
  <button class="migratebutton">Migrate selected</button>
</div>
  <div class="container2">
  <img class="genesysLogo" src="../../assets/images/genesysLogo.png"/>
  <p class="genesysText">Your imported messages will appear here.</p>
  <div class="child2"></div>
  <button class="importbutton">Import all</button>
</div>
</div>