<div class="parent">
<div class="container">
  <img class="boldLogo" src="../../assets/images/boldLogo.png"/>
  <p class="boldText">Please select the canned messages you want to import to Genesys DX.</p>
  <div class="boldSearch">
    <input type="search" placeholder="Search" class="search-field"/>
    <button type="submit" class="search-button">
      <img src="../../assets/images/search.png">
    </button>
  </div>
  <div class="child"> 
    <table>
      <thead> 
        <th><input type="checkbox" style="pointer-events:none"></th>
        <th>Channel</th>
        <th>Content</th>
        <th><img id="folderLogo" src="../../assets/images/folder.png"></th>
      </thead>
    <tbody>
        <tr *ngFor="let element of MessagesSent">
          <td><input class="pointer" (change)="onChange(element)" type="checkbox" value="{{element}}"></td>
          <td>{{element.name}}</td>
          <td class="ellipsis" *ngIf="element.isFolder == false; else show">{{element.text}}</td>
          <ng-template #show>{{element.subfoldersCount}} folders, {{element.messagesCount}} messages</ng-template>
          <td (click)="sendMessages(element.id)" id="folder" *ngIf="element.isFolder == true"><img class="pointer" id="folderLogo" src="../../assets/images/folder.png"></td>
        </tr>
    </tbody>
  </table>
  </div>
  <div class="nav-buttons">
    <button class="pointer" (click)="showMessages('')">&lt;&lt;</button>
    &nbsp;
    <button class="pointer" (click)="showMessages('3206824598737435')">>></button>
  </div>
  <button class="migratebutton" (click)="showCollectedFromTransformed()">Migrate selected</button>
  <button class="migrateAllbutton" (click)="showTransformedMessages('')">Migrate all</button>
</div>
  <div class="container2">
  <img class="genesysLogo" src="../../assets/images/genesysLogo.png"/>
  <p class="genesysText">Your imported messages will appear here.</p>
  <div class="genesysSearch">
    <input type="search" placeholder="Search" class="search-field"/>
    <button type="submit" class="search-button">
      <img src="../../assets/images/search.png">
    </button>
  </div>
  <div class="child2">
    <table>
      <thead> 
        <th><input type="checkbox" style="pointer-events:none"></th>
        <th>Name</th>
        <th>Content</th>
        <th><img id="folderLogo" src="../../assets/images/folder.png"></th>
      </thead>
    <tbody>
      <tr *ngFor="let element of TransformedMessagesSent">
        <td><input class="pointer" type="checkbox"></td>
        <td>{{element.name}}</td>
        <td class="ellipsis" *ngIf="element.isLibrary == false; else show">{{element.text}}</td>
        <ng-template #show>{{element.totalMessages}} messages</ng-template>
        <td (click)="sendTransformedMessages(element.id)" id="folder" *ngIf="element.isLibrary == true"><img class="pointer" id="folderLogo" src="../../assets/images/folder.png"></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="nav-buttons">
    <button class="pointer" (click)="showTransformedMessages('')">&lt;&lt;</button>
    &nbsp;
    <button class="pointer">>></button>
  </div>
  <button class="importselectedbutton">Import selected</button>
  <button class="importbutton">Import all</button>
</div>
</div>