<div>
    <form [formGroup]="dxloginForm">
<img src="../../assets/images/genesysLogo.png"/>
<p>Email-address</p>
<input type="email" #emailInput formControlName="email">
<br>
<span style="color: red" *ngIf="email && email.invalid && email.touched">Unvalid email address</span>
<p>Password</p>
<input type="password" #passwordInput formControlName="password">
<br>
<span style="color: red" *ngIf="password && password.invalid && password.touched">Unvalid password</span>
<p>Org.</p>
<input type="text" #orgInput formControlName="org">
<br>
<span style="color: red" *ngIf="org && org.invalid && org.touched">Unvalid organization name</span>
<br>
<br>
<button #button [disabled]="dxloginForm.invalid" [routerLink]="['./bold']">Log In</button>
    </form>
</div>