div {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 35%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

p {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
}

button {
    position: absolute;
    background-color: blue;
    color: white;
    border: 1px solid grey;
    border-left: none;
    font-weight: bold;
    height: 30px;
    left: 50px;
}

button:disabled {
  background-color: grey;
}

button:enabled {
  cursor: pointer;
}